*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
.wrapper {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  background-color: #c3ac98;
  color: hsl(210, 12%, 17%);
}

.wrapper {
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
}

header {
  text-align: center;
  padding: 20px;
  padding-top: 0px;
}

h2 {
  font-size: 1.25rem;
}

.card {
  background-color: hsl(15, 33%, 59%);
  border-radius: 5px;
  border-width: 1px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px 0px;
  font-size: 18px;
  margin: 0 auto;
  max-width: 800px;
  padding: 30px 40px;
}

.card-header li {
  line-height: 125%;
}

.card-header::after {
  content: " ";
  display: block;
  width: 100%;
  background: hsl(180, 30%, 80%);
  height: 2px;
}

.card-body {
  min-height: 100px;
}

::placeholder {
  color: hsl(213, 13%, 30%);
}

.card-footer {
  text-align: center;
}

.card-footer::before {
  content: " ";
  display: block;
  width: 100%;
  background: hsl(180, 30%, 80%);
  height: 2px;
}

.card-footer::after {
  content: " ";
  display: block;
  clear: both;
}

.btn {
  border: none;
  background-color: hsl(180, 30%, 80%);
  color: hsl(180, 8%, 47%);
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 6px 0px rgba(0, 0, 0, 0.2) 0px 1px 1px
    0px;
  display: inline-block;
  font-size: 22px;
  line-height: 22px;
  margin: 16px 16px 16px 20px;
  padding: 14px 34px;
  text-align: center;
  cursor: pointer;
}

button[disabled] {
  cursor: default;
  background: #c0c7cf;
}

.float-right {
  float: right;
}

#password {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: hsl(15, 33%, 59%);
  color: hsl(210, 12%, 17%);
  border: none;
  display: block;
  width: 100%;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 85px;
  font-size: 1.2rem;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 2px dashed #c3ac98;
  border-radius: 6px;
  resize: none;
  overflow: hidden;
}

@media (max-width: 690px) {
  .btn {
    font-size: 1rem;
    margin: 16px 0px 0px 0px;
    padding: 10px 15px;
  }
  #password {
    font-size: 1rem;
  }
}

@media (max-width: 500px) {
  .btn {
    font-size: 0.8rem;
  }
}

@media (max-width: 425px) {
  h1 {
    font-size: 1.8rem;
    margin: 10px;
  }
  .card {
    padding: 15px 20px;
  }
}

@media (max-width: 375px) {
  .wrapper {
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 10px;
  }
  header {
    padding: 15px;
  }
  h1 {
    margin: 5px;
  }
}

@media (max-width: 320px) {
  h1 {
    font-size: 1.6rem;
  }
  .card-header {
    font-size: 0.9rem;
  }
  .card-header li {
    line-height: 150%;
  }
  #password {
    padding-bottom: 125px;
  }
}